<ul class="timeline">
  <li>
    <div class="icon menu-plus"></div>
    <h4 class="text-primary">Depart from {{itinerary.origin_details.leaving_from.name}}, {{itinerary.origin_details.leaving_from.region.country.name}}</h4>
  </li>
  <ng-container *ngFor="let destination of itinerary.plan">
    <ng-container *ngFor="let event of destination['events']">
      <li class="mt-4" *ngIf="event['category']=='test'">
        <div class="icon lab-test"></div>
        <h5 class="mb-0" *ngIf="event.from_date < destination.date">Pre-departure Covid test for {{destination.destination.name}}</h5>
        <h5 class="mb-0" *ngIf="event.from_date >= destination.date">Post-Arrival Covid test for {{destination.destination.name}}</h5>
        <p class="text-gray small mb-1">
          Required after {{event.from_date | date: 'dd-MMM-y'}} and before {{event.to_date | date: 'dd-MMM-y'}}
        </p>
        <button class="btn btn-success btn-sm">Book Now</button>
      </li>

      <li class="mt-4" *ngIf="event['category']=='flight'">
        <div class="icon flight"></div>
        <h5 class="mb-0">Flight booking for {{event.from_location.airport_code}} to {{destination.destination.airport_code}}</h5>
        <p class="text-gray small mb-1">
          Date: {{event.from_date | date: 'dd-MMM-y'}}
        </p>
        <button class="btn btn-success btn-sm">Book Now</button>
      </li>
      <li class="mt-5" *ngIf="event['category']=='flight'">
        <div class="icon menu-plus"></div>
        <h4 class="text-primary">Travel to {{destination.destination.name}}, {{destination.destination.region.country.name}}</h4>
      </li>
      <li class="mt-4" *ngIf="event['category']=='flight' && destination.destination.region.safety_level == 'high'">
        <div class="icon danger"></div>
        <p>Travel to {{destination.destination.region.name}} is considered <span class="text-danger">high risk</span>. Avoid non-essential travels.</p>
      </li>
      <li class="mt-4" *ngIf="event['category']=='flight' && (destination.destination.region.safety_level == 'medium' || destination.destination.region.safety_level == 'low')">
        <div class="icon warning"></div>
        <p>Travel to {{destination.destination.region.name}} is considered {{destination.destination.region.safety_level}} risk.</p>
      </li>
      <li class="mt-4" *ngIf="event['category']=='flight' && destination.destination.region.safety_level == 'safe'">
        <div class="icon check"></div>
        <p>Travel to {{destination.destination.region.name}} is considered very safe.</p>
      </li>
      <li class="mt-4" *ngIf="event['category']=='quarantine'">
        <div class="icon hotel"></div>
        <h5 class="mb-0">Quarantine in {{destination.destination.name}}</h5>
        <p class="text-gray small mb-1">
          From {{event.from_date | date: 'dd-MMM-y'}} to {{event.to_date | date: 'dd-MMM-y'}} <br>
          {{event.type}}
        </p>
        <button class="btn btn-success btn-sm">Book Now</button>
      </li>
    </ng-container>
  </ng-container>

<!--
  <li>
    <div class="icon hotel"></div>
    <h5 class="mb-0">Hotel Booking</h5>
    <p class="text-gray small mb-1">
      Proposed from 17-Apr-2021 to 29-Apr-2021
    </p>
    <button class="btn btn-success btn-sm">Book Now</button>
  </li>
  <li class="mt-5">
    <div class="icon menu-plus"></div>
    <h4 class="text-primary">Add your next destination</h4>
  </li> -->
</ul>


